#login-form {
  margin: 10px;
}

#login-form input {
  width: 200px;
  height: 40px;
  display: inline;
  background-color: rgb(0, 0, 0, 0.2);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  padding-left: 8px;
}

#login-form input:hover {
  background-color: rgb(100, 100, 100, 0.2);
}
#login-form button {
  width: 100px;
  height: 45px;
  display: inline;
  background-color: rgb(245, 245, 245, 0.6);
  border-radius: 20px;
  border: 2px solid rgb(255, 211, 240);
  transition: 0.2s;
  cursor: pointer;
}
#login-form button:hover {
  background-color: whitesmoke;
}

#greeting {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3rem;

  text-decoration: underline;
  /* border: 2px solid white; */
}

#login-form input::placeholder {
  color: rgb(245, 245, 245, 0.8);
}
